.checked {
	color: orange;
}

body{
	font-family: 'Barlow Semi Condensed', sans-serif;
}

.fa-star,.fa-star-o,.fa-star-half-o{
	color:#FDC91B;
	font-size:25px !important;
}

.start-part span{
	color:#337AB7;
	font-size:23px;
}

.reviews h1{
	margin:10px 0px 20px 30px;
}

.comment-part {
	background: rgb(255,255,255);
	padding: 5vh 5vh 0 2.5vh;
	margin: 2.5vh;
	border: 2px solid rgb(0,0,0);
	border-radius: 12px;
	box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.user-img img{
	height: 80px;
	width: 80px;
	border:1px solid blue;
	border-radius: 50%;
}

.user-img-part{
	width:30%;
	float:left;
}

.user-img{
	width:48%;
	float:left;
	text-align: center;
}

.user-text{
	float:left;
}

.user-text h4,.user-text p{
	margin:0px 0px 5px 0px;
}

.user-text p{
	font-size: 20px;
	font-weight: bold;
}

.user-text h4,.user-text span{
	color:#B3B5B4;
}

.comment{
	width:68%;
	float:right;
}