#Search {
	padding: 5vh 0;
	color: rgb(3,46,87);
	font-size: 120%;
}


#Search input[type=text] {
	width: 85vw;
	border: 2px solid rgb(0,146,106);
	border-radius: 5px;
	font-size: 120%;
	padding: 1vh;
}


.SearchBtn {
	background-color: rgb(0,146,106);
	font-size: 120%;
	color: rgb(255,255,255);
	border: none;
	border-radius: 5px;
	padding: 1.5vh 2vh;
}



.nav-link {
	padding: 1.5vh;
	border: none;
	border-radius: 5px 5px 0 0;
	margin: 0;
	background-color: rgb(0,146,106);
	font-size: 120%;
	color: rgb(255,255,255);
}



.tab-content {
	background-color: rgb(3,46,87);
	color: rgb(255,255,255);
	padding: 5vh;
}



@media screen and (max-width: 1235px) {
	#Search input[type=text] {
		width: 80vw;
	}
}



@media screen and (max-width: 930px) {
	#Search input[type=text] {
		width: 75vw;
	}
}



@media screen and (max-width: 760px) {
	#Search input[type=text] {
		width: 70vw;
	}
}



@media screen and (max-width: 635px) {
	#Search input[type=text] {
		width: 60vw;
	}
}